.root {
  width: 1200px;
  padding: 15px;
  margin: auto;
}
body {
  margin: 0;
  /* overflow-x: hidden; */
}

/* header-start */
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-bottom: 50px;
}

.header .logo {
  height: 50px;
  width: 270px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header .logo .image {
  width: 48px;
  height: 56.008px;
  flex-shrink: 0;
}

.header .logo .text {
  font-size: 36px;
}

.header .logo .hero {
  color: #131318;
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.header .logo .travel {
  color: #ff5400;
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.header .nav .desktop {
  display: flex;
  justify-content: space-between;
}

.header .nav .mobile {
  display: none;
}

.header .nav .mobile .icon {
  height: 24px;
  width: 24px;
}

.header .nav .desktop .menu {
  color: #424247;
  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 44px;
}

.header .nav .desktop .menu.selected {
  color: #ff5400;
}

/* explore-start */
.explore {
  background-image: url("./images/explore.png");
  height: 580px;
  background-size: cover;
  border-radius: 16px;
  margin-bottom: 100px;
  width: 100%;
}

.explore .overlay {
  height: 100%;
  width: 100%;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.explore .content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.explore .content .big-text {
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-bottom: 25px;
  text-align: center;
}

.explore .content .lorey {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  padding-bottom: 45px;
  width: 676px;
}

.explore .content .options {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
.option-select{
  display: inline-flex;
padding: 16px;
align-items: flex-start;
gap: 24px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
}
.options-input{
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FFF;
  margin-top: 15px;
}
.input-image{
  position:absolute;
  width: 24px;
  height: 24px;
  /* transform: rotate(-90deg); */
  flex-shrink: 0;
  padding-left: 130px;
  padding-top: 15px;
}
.search-image{
  padding-top: 150px;
  position: absolute;
}
.option-select .option-input ::placeholder{
  color: rgba(19, 19, 24, 0.50);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 15px;
}
 .option {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
}

  .search-button {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FF5400;
  width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 20px;
}
.popular {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  height: 558px;
}

.popular .content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.popular .content .big-text {
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.popular .content .lists {
  margin-left: -20px;
}

.popular .content .list {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  width: 525px;
  line-height: 26px;
  /* 162.5% */
}

.popular .lorey {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  padding-top: 25px;
  padding-bottom: 25px;
  width: 525px;
}

.popular .content .button {
  margin-top: 15px;
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border: 0;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.popular .image {
  width: 540px;
  height: 550px;
  flex-shrink: 0;

  border-radius: 16px;
  background: url("./images/popular.png#<path-to-image>"),
    lightgray 50% / cover no-repeat;
}

.choose {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.choose .big-text {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.choose .lorey {
  padding-top: 25px;
  width: 643px;

  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
}

.options {
  display: grid;
  gap: 24px;
}
.option-input{
  width: 174px;
height: 52px;
flex-shrink: 0;
align-items: center;
justify-content: center;
}
.option-input ::placeholder{
  align-items: center;
  display: flex;
  justify-content: center;
}
.option .button{
  display: flex;
  align-items: center;
  justify-content: center;
}
.option-select{
display: flex;
}
.search-button{
  align-items: center;
  justify-content: center;
background: #FF5400;
}
.grid-item {
  height: 300px;
  width: 1170px;
  border-radius: 16px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
  .grid-row1{
  display: grid;
  grid-template-columns: 588px 598px;
  max-width: 100%; 
  /* margin:24px; */
  gap: 24px; 
}
  .grid-row2{
  display: grid;
  grid-template-columns:384px 484px 294px;
  max-width: 100%; 
  /* margin: 24px; */
  gap: 24px;
  margin-top: 24px;
}
  .grid-row3{
  display: grid;
  grid-template-columns:488px 688px;
  max-width: 100%; 
  margin-top: 24px;
  gap: 24px;
}


.card-row1 {
  width: 100%;
  height: 285px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-row2 {
  width: 50%;
  height: 285px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.20);
  background: rgba(233, 68, 68, 0.05);
  margin-top: 24px;
  margin-left: 290px;
}
.card1 {
  width: 573px;
  height: 284px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.card2 {
  width: 573px;
  height: 284px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.card3 {
  width: 573px;
  height: 284px;
  flex-shrink: 0;
  border-radius: 16px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-left: 500px; */
}
.card1 img {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  margin-left: 32px;
  margin-top: 32px;
}
.card1 h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 32px;
  margin-top: 32px;
}
.card1 p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-left: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.card2 img {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  margin-left: 32px;
  margin-top: 32px;
}
.card2 h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 32px;
  margin-top: 32px;
}
.card2 p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-left: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.card3 img {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  margin-left: 32px;
  margin-top: 32px;
}
.card3 h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 32px;
  margin-top: 32px;
}
.card3 p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-left: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.discount-image1 {
  width: 1170px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 16px;
  background: url(images/Group\ 39.png), lightgray 50% / cover no-repeat;
  margin-top: 48px;
}

.discount-image-content {
  width: 579px;
  height: 389px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  transform: translate(550px, 50px);
  margin: 24px;
  
}
.location-icon{
  
    flex-shrink: 0;
    flex-grow: 0;
    height: 24px;

}
.time-date{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.time-date-content{
  display: flex;
  justify-content: left;
  align-items: center;
}
.textX{
  width:max-content;
  flex-grow: 0;
}
/* .time-date-content{
  justify-content: space-between;
}
.time-date {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 50px;
  gap: 5px;
  width: 24px;

} */

.discount-image-content h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 50px;
}

.discount-image-content p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-left: 50px;
}

.discount-image-content h2 {
  color: #ff5400;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 50px;
}

.discount-image-content button {
  width: 150px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 50px;
}

.discount-image2 {
  border-radius: 16px;
  background: url(images/Group\ 40.png), lightgray 50% / cover no-repeat;
  width: 1170px;
  height: 500px;
  flex-shrink: 0;
  margin-top: 24px;
}

.discount-image3 {
  border-radius: 16px;
  background: url(images/Group\ 39.png), lightgray 50% / cover no-repeat;
  width: 1170px;
  height: 500px;
  flex-shrink: 0;
  margin-top: 24px;
}

.discount-image-content2 {
  width: 579px;
  height: 389px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  transform: translate(50px, 50px);
}

.discount-image-content2 h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 50px;
}

.discount-image-content2 p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-left: 50px;
}

.discount-image-content2 h2 {
  color: #ff5400;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 50px;
}

.discount-image-content2 button {
  width: 150px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 50px;
}

.see-all-button {
  width: 210px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  margin-left: 600px;
}

.see-button {

  margin-top: 15px;
  width:218px;
  height: 52px;
  flex-shrink: 0;
  border: 0;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  align-items: center;
  justify-content: center;
  margin-left: 500px;
}
.card-container {
  display: flex;
  flex-direction: row; /* Stack cards vertically */
  align-items: center; /* Center cards horizontally */
}
.product-card {
  width: 300px;
  background-color: #FFF;
  border: 1px solid aqua;
  border-radius: 8px;
  overflow: hidden;
  
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.card-content h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.card-content p {
  margin: 8px 0;
  font-size: 14px;
  color: #777;
}

.card-content .rating {
  display: flex;
  align-items: center;
}

.card-content .rating img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}


.rating {
  color: #f39c12;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star {
  font-size: 18px;
  margin-right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews {
  font-size: 12px;
  color: #7f8c8d;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback-icons {
  display: flex;
  align-items: center;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.simple-class{
  width: 1200px;
height: 100%;
margin-top: 100px;
display: flex;
align-items: center;
justify-content: space-between;
}
.simple-class .big-text{
  margin-top:24px ;
}
.simple-class .popular{
  justify-content: center;
  align-items: center;
}
.image-content{
  width: 610px;
height: 424px;
flex-shrink: 0;
margin-top: 0px;
border-radius: 16px;
background: url(images/Group\ 40089.png);
}

.image-content .simple-image{
  height: 300px;
    border-radius: 16px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    
}
.newsletter {
  display: flex;
  height: 100%;
  width: 1200px;
  margin-top: 100px;
  margin-left:150px ;
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter .newsletter-content {
  width: 474px;
  height: 345px;
  background: white;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  border: 1px solid#FF5400;
  border-radius: 16px;
  justify-content: space-between;
}

.newsletter-content .newsletter-heading {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.newsletter-content .news-lorem {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
}

.newsletter .newsletter-content .line {
  width: 400px;
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
  margin-left: 0px;
}

.newsletter-content .input-field {
  width: 400px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  margin-top: 16px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.name-field{
  width: 400px;
  height: 52px;
  background: rgba(19, 19, 24, 0.05);
  border-radius: 8px;
}

.newsletter-content .input-field ::placeholder {
  color: rgba(19, 19, 24, 0.3);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 400px;
}

.newsletter .newsletter-image {
  width: 672px;
  height: 422px;
  flex-shrink: 0;
display: flex;
justify-content: center;
align-items: center;
  border-radius: 16px;
  background: url(images/Rectangle\ 8\ \(1\).png), lightgray 50% / cover no-repeat;
}
.newsletter-image-content{
  width: 300px;
height: 100px;
transform: rotate(-19.628deg);
flex-shrink: 0;
border-radius: 16px;
background: #FF5400;
justify-content: center;
align-items: center;
margin-left: 330px;
  margin-top: 1px;
}
.image-content-website{
  transform: rotate(-19.628deg);
  color: #FFF;
  text-align: center;
  font-family: Mulish;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  margin-left: -20px;
  padding-top: 5px;
}
.image-content-offer{
  transform: rotate(-14.628deg);
  color: #FFF;
  font-family: Mulish;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 4px;
  padding-left: 50px;
}

.newsletter .newsletter-content .button {
  width: 393px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 24px;
}
.footer {
  width: 1340px;
  height: 502px;
  flex-shrink: 0;
  background: rgba(19, 19, 24, 0.05);
  margin-left: 100px;
  margin-top: 100px;
}
.footer-content {
  display: flex;
  align-items: center;
  width: 100%;
  align-items: center;
  padding-top: 100px;
  margin-left: 590px;
}
.footer-content .logo-image {
  width: 40px;
  height: 46.673px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-lorem {
  width: 769px;
  color: #5a5a5d;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-left: 250px;
  margin-top: 15px;
}
.social-icon {
  width: 174.322px;
  height: 24px;
  flex-shrink: 0;
  margin-left: 570px;
  margin-top: 32px;
}
.footer-line {
  width: 872px;
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
  margin-top: 75px;
}
.copy-right {
  color: #131318;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 100px;
  margin-left: 570px;
}
@media only screen and (max-width: 600px) {
  .root {
    width: 600px;
    padding: 20px;
    overflow-x: hidden;
    height: 5000 !important;
  }
}
@media (max-width: 600px) {
  .header {
    padding-bottom: 10px;
    width: 500px;
  }

  .header .logo {
    width: 500px;
    justify-content: start;
    align-items: center;
  }

  .header .logo .image {
    width: 24px;
    height: 28.004px;
  }

  .header .logo .text {
    font-size: 20px;
  }

  .header .logo .hero,
  .header .logo .travel {
    font-size: 20px;
  }

  .header .nav .desktop {
    display: none;
  }

  .header .nav .mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header .nav .desktop .menu {
    font-size: 14px;
    padding-left: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .explore {
    height: auto;
    margin-bottom: 50px;
    margin-left: 10px;
    width: 500px;
  }

  .explore .content .big-text {
    font-size: 36px;
    padding-bottom: 15px;
  }

  .explore .content .lorey {
    font-size: 14px;
    padding-bottom: 30px;
    width: auto;
  }

   .options {
    padding: 10px;
    gap: 12px;
    flex-direction: column;
    margin-bottom: 32px;
  }
  .option-select{
    margin-left: 9px;
    margin-top: 20px;
  }
.popular {
  display: grid;
  justify-content: center;
  text-align: left;
  width: 500px;
  height: 558px;

}

.popular .content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 15px;
    width: 500px;
}
.popular .content .big-text .lists .list .lorey {
  color: #131318;
  font-family: Mulish;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  width: 500px;
  line-height: normal;
  margin-left: 15px;
}



.popular .content .button {
  margin-top: 15px;
  width: 174px;
  height: 52px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 20px;
  margin-top: 24px;
}

.popular .image {
  width: 500px;
  height:auto;
  flex-shrink: 0;
  border-radius: 16px;
margin-top: 24px;
display: grid;
justify-content: center;
align-items: center;
}

  .options-input,
  .explore .content .options .option {
    width: 100%;
  }
  
.choose {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  width: 500px;
  height: 100%;
}

.choose .big-text {
  color: #131318;
text-align: center;
width: 500px;
font-family: Mulish;
font-size: 20px;
font-style: normal;
 margin-left: 48px;
margin-top: 24px;
}

.choose .lorey {
  width:500px;
  text-align: center;
  font-family: Mulish;
  font-size: 14px;
  line-height: 24px; 
  margin-left: 35px;
}
.option-grid{
  width: 500px;
  height: auto;
  object-fit: cover;
  
}
.grid-row1,
.grid-row2,
.grid-row3 {
  grid-template-columns: 1fr;
}
.grid-row1 img,
.grid-row2 img,
.grid-row3 img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
}

/* .grid-item {
  height: 300px;
  width: 1170px;
  border-radius: 16px;
  background-size: cover;
  display: grid;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal; */
  /* .options-grid{
    display: grid;
    grid-template-rows:repeat(7 , 1fr);
  }
  .options-grid .grid-row1{
    display: grid;
    grid-template-row:repeat(2 , 1fr);
     
  }
    .grid-row2{
    display: grid;
    grid-template-rows:repeat(3, 500px);
    max-width: 100%; 
    
    margin-top: 16px;
  }
    .grid-row3{
    display: grid;
    grid-template-row:repeat(2,1fr);
    max-width: 100%; 
    margin-top: 24px;
   
  } */
  
.card-row1 {
  width: 500px;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2,1fr);
  margin-left: 15px;
  margin-top: 16px;
  gap: 15px;
}
.card-row2 {
  margin-top: 16px;
  width:500px;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(1,1fr);
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}
.card1 {
  width: 500px;
  height: 100%;
  flex-shrink: 0;
  border-radius: 16px;
  text-align: left;
}
.card2 {
  width: 500px;
  height: 100%;
  flex-shrink: 0;
  border-radius: 16px;
  text-align: left;
}
.card3 {
  width: 500px;
  height: 100%;
  flex-shrink: 0;
  border-radius: 16px;
  text-align: left;
}
.discount-image1 {
  width: 500px;
height: 500px;
flex-shrink: 0;
  border-radius: 16px;
  margin-left: 15px;
}
.discount-image3 {
  width: 500px;
height: 500px;
flex-shrink: 0;
  border-radius: 16px;
  margin-left: 15px;
}
.discount-image2 {
  width: 500px;
height: 500px;
flex-shrink: 0;
  border-radius: 16px;
  margin-left: 15px;
}

.discount-image-content  {
  width: 350px;
  height:auto;
  flex-shrink: 0;
  border-radius: 16px;
  transform: translate(50px, 50px);
  
  
}

.discount-image-content2  {
  width: 350px;
  height:auto;
  flex-shrink: 0;
  border-radius: 16px;
  transform: translate(50px, 50px);
}
.see-button{
margin-left: 150px;
}
simple-class{
  display: grid;
  grid-template-rows: repeat(2,1fr);
  width: 500px;
height: 100%;
margin-top:24px;
margin-left: 15px;
margin-top: 48px;
}
.image-content{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 500px;
height: 100%;
flex-shrink: 0;
border-radius: 16px;
margin-top:16px;
margin-left: 15px;
}
.newsletter {
  display: grid;
  grid-template-rows: repeat(2,1fr);
  gap: 24px;
  height: 100%;
  width:500px;
  margin-top: 24px;
  margin-left: 15px;
  padding: 90px;
}
newsletter-content {
  align-items: center;
  background: white;
}
.newsletter-content .newsletter-image {
  width: 500px;
  height: 100%;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  margin-left: 15px;

}
.newsletter-image-content{
  width: 300px;
height: 120px;
transform: rotate(-19.628deg);
flex-shrink: 0;
border-radius: 16px;
background: #FF5400;
  margin-top: 240px;
  padding-top: 1px;
  margin-left: 1px;
  margin-bottom: 55px;
  padding-bottom: 50px;
}
.image-content-website{
  transform: rotate(-19.628deg);
  color: #FFF;
  text-align: center;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 54px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  margin-left: -150px;
  padding-top: 10px;
}
.image-content-offer{
  transform: rotate(-14.628deg);
  color: #FFF;
  font-family: Mulish;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 4px;
  padding-left: 50px;
}
.footer{
  width: 600px;
  margin-left: 0px;
  
}
.footer-content{
display: flex;
align-items: center;
justify-content: center;
margin-left: 15px;
}
.footer-lorem{
  margin-left: 65px;
  line-break: auto;
  width: 450px;
}
.social-icon{
  margin-left: 250px;
}
.footer-line{
  width: 872px;
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
  margin-top: 75px;
}
.copy-right{
  margin-top: 50px;
  margin-left: 250px;
}
.card-container{
  display: block;
  flex-direction: row;
  width: 1000px;
height: auto;
margin-left: 50px;
}
.product-card{
  display: flex;
  flex-direction: column;
}

}
